<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Bienvenue sur la page services.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <a href="#team">
                    <img src="assets\img\team.webp" alt="" class="img-fluid rounded-circle service-me-image">
                </a>
                <h4 class="my-3">Equipe</h4>
                <p class="text-muted"></p>
            </div> 
            <div class="col-md-3">
                <a href="#magasins">
                    <img src="assets\img\materiaux-de.jpg" alt="" class="img-fluid rounded-circle service-member-image">
                </a>
                <h4 class="my-3">Magasins</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-3">
                <a href="#societes">
                    <img src="assets\img\sarch.jpg" alt="" class="img-fluid rounded-circle service-mem-image">
                </a>
                <h4 class="my-3">societes d'architecture</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-3">
                <a href="#terrains">
                    <img src="assets\img\localisation.png" alt="" class="img-fluid rounded-circle service-m-image">
                </a>
                <h4 class="my-3">Terrain à vendre</h4>
                <p class="text-muted"></p>
            </div>
        </div>
    </div>
</section>
