<section class="contact" id="contact">

    <div class="contact-info">
        <div>
            <i class="fas fa-envelope icon"></i>
            <p>Email: <a href="mailto:your@email.com">bnidarak.com</a></p>
        </div>
        <div>
            <i class="fas fa-phone icon"></i>
            <p>Phone: <a href="tel:+123456789">+22232446349</a></p>
        </div>
        <div>
            <i class="fab fa-github icon"></i>
            <p>GitHub: <a href="https://github.com/bnidarak" target="_blank">bnidarak</a></p>
        </div>
    </div>

</section>
