    <!-- Navigation-->
  
  <!-- Masthead-->
  <header class="masthead">
    <style >.masthead {background-image:url("assets/img/arier.jpeg")}</style>
      <div class="container">
          <div class="masthead-subheading"><span style="margin-left: 10px;"><h2>Bnidarak...</h2></span></div>
          <div class="masthead-heading text-uppercase">Bienvenue</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="#services">services</a>
      </div>
  </header>
 <app-navbar></app-navbar>
 <app-nous></app-nous>
 <app-magasin></app-magasin>
 <app-societes-architecture></app-societes-architecture>
 <app-salete-cailloux></app-salete-cailloux>
 <app-equipe></app-equipe>
 <app-contacte></app-contacte>



 
